---
import Base from "@/layouts/Base.astro";
import { ArticleList } from "@/components/ArticleList";
---

<Base>
  <section class="container mx-auto max-w-5xl px-7 py-10">
    <ArticleList client:only="solid-js" />
  </section>
</Base>
