.hooks/

target/
../../target/
**/target/
**/node_modules/
**/dist/

traildepot/
docs/
!docs/examples/record_api_rs

Dockerfile*
.docker*

# Include parts of the .git/ folder needed to bake version info into the
# binary.
.git*
!.git/
.git/modules

*.image
.rustfmt.toml
.env
