target/
traildepot/
**/traildepot/
**/target/
**/target/
**/node_modules/
**/dist/

client
!client/trailbase-rs
deploy/
docs/
!docs/examples/record_api_rs
examples/
!examples/custom-binary

Dockerfile*
.docker*

# Include parts of the .git/ folder needed to bake version info into the
# binary.
.git*
!.git/
.git/modules

.hooks/
.cargo/
*.image
.rustfmt.toml
.env
