[submodule "vendor/refinery"]
	path = vendor/refinery
	url = git@github.com:trailbaseio/refinery.git
[submodule "vendor/sqlite_loadable"]
	path = vendor/sqlite-loadable
	url = git@github.com:trailbaseio/sqlite-loadable-rs.git
[submodule "vendor/sqlean/bundled/sqlean"]
	path = vendor/sqlean/bundled/sqlean
	url = https://github.com/trailbaseio/sqlean
[submodule "vendor/tokio-rusqlite"]
	path = vendor/tokio-rusqlite
	url = https://github.com/trailbaseio/tokio-rusqlite.git
[submodule "vendor/serde_rusqlite"]
	path = vendor/serde_rusqlite
	url = https://github.com/trailbaseio/serde_rusqlite.git
