# Custom cargo settings
.cargo

# Build artifacts
target/
node_modules/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Dev artifacts
public/
trailbase-assets/js/admin/pnpm-lock.yaml
trailbase-assets/js/auth/pnpm-lock.yaml
trailbase-js/assets/runtime/pnpm-lock.yaml
