---

---

<div class="gradient-line h-px w-full overflow-hidden"></div>
<div
  class="bg-linear-to-r from-pacamara-secondary/10 to-pacamara-accent/10 py-14 transition-all duration-300 dark:bg-linear-to-r dark:from-pacamara-accent/2 dark:to-pacamara-secondary/5"
>
  <footer
    class="container mx-auto flex max-w-7xl flex-initial flex-col items-center gap-10 px-7 lg:flex-row"
  >
    <div class="flex-none">
      <a
        href="/"
        class="font-pacamara-space text-lg font-bold transition-all duration-300 hover:text-pacamara-accent dark:text-white dark:hover:text-pacamara-accent"
        >TrailBase</a
      >
    </div>

    <div class="grow lg:text-right"></div>
  </footer>
</div>
