---
const { tag } = Astro.props;
---

{
  tag && (
    <span class="group flex h-[34px] flex-row content-center items-center rounded-full border border-pacamara-secondary bg-transparent px-3 text-[16px] leading-none text-pacamara-secondary">
      <span>{tag}</span>
    </span>
  )
}
