---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Profile as ProfileTsx } from "@/components/Profile";
---

<BaseLayout>
  <div
    class="mx-auto flex h-dvh w-screen flex-col items-center justify-center gap-4"
  >
    <ProfileTsx client:only="solid-js" />
  </div>
</BaseLayout>
